@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 211, 216, 232;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color-rgb: 34, 193, 195; /* Un color primario específico */
  --secondary-color-rgb: 253, 187, 45; /* Un color secundario específico */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color-rgb: 253, 187, 45;
    --secondary-color-rgb: 34, 193, 195;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    color: rgb(var(--primary-color-rgb));
  }

  .text-secondary {
    color: rgb(var(--secondary-color-rgb));
  }

  .text-foreground {
    color: rgb(var(--foreground-rgb));
  }
}

/* Custom list style with arrows */
.list-arrow {
  list-style-type: none;
}

.list-arrow li::before {
  content: '→'; /* Usar flecha en lugar de punto */
  color: var(--secondary-color-rgb); /* Aplica el color secundario */
  padding-right: 8px;
}
